{% extends 'base.html' %}



{% block content %}
    <div class="bg-#fafafa grey lighten-5">
        <div class="container">
            <div class="card">
                <div class="card-body">

                    <div class="col-md-8">
                        <select class="browser-default custom-select custom-select-lg mb-3">
                            <option selected>Select iphone</option>
                            {% for item in device_list %}
                                <option value="1">{{ item.name }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-md-8">
                        <select class="browser-default custom-select custom-select-lg mb-3">
                            <option selected>Select iphone</option>
                            {% for item in device_list %}
                                <option value="1">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <div class="text-right">
                            <a href="{% url 'detail' %}">
                                <button type="button" class="btn btn-dark">比較する</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>

        {% block table %}

        {% endblock table %}
    </div>




{% endblock content %}