{% extends 'choice.html' %}




{% block table %}


    <div class="container">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">機種</th>
                        <th scope="col">cpu</th>
                        <th scope="col">本体サイズ</th>
                        <th scope="col">画面</th>
                        <th scope="col">GB</th>
                        <th scope="col">ホームボタン</th>
                        <th scope="col">色</th>
                        <th scope="col">カメラ</th>
                        <th scope="col">発売日</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for device in device_list %}
                            <th scope="row">{{ device.name }}</th>
                            <td>{{ device.cpu }}</td>
                            <td>{{ device.device_size }}</td>
                            <td>{{ device.display_size }}</td>
                            <td>{{ device.capacity.all }}</td>
                            <td><br></td>
                            <td>{{ device.color.all }}</td>
                            <td>{{ device.out_camera.all }}</td>
                            <td>{{ device.release_date }}</td>
                        {% endfor %}
                    </tr>


                    </tbody>

                </table>

                <br>

                <table class="table table-sm table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">機種</th>
                        <th scope="col">cpu</th>
                        <th scope="col">本体サイズ</th>
                        <th scope="col">画面</th>
                        <th scope="col">GB</th>
                        <th scope="col">ホームボタン</th>
                        <th scope="col">色</th>
                        <th scope="col">カメラ</th>
                        <th scope="col">発売日</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for device in device_list %}
                            <th scope="row">{{ device.name }}</th>
                            <td>{{ device.cpu }}</td>
                            <td>{{ device.device_size }}</td>
                            <td>{{ device.display_size }}</td>
                            <td>{{ device.capacity.all }}</td>
                            <td><br></td>
                            <td>{{ device.color.all }}</td>
                            <td>{{ device.out_camera.all }}</td>
                            <td>{{ device.release_date }}</td>
                        {% endfor %}
                    </tr>


                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}

