{% extends 'device_list.html' %}




{% block table %}


    <div class="container">
        <div class="card">
            <div class="card-body">
                {% for device in object_list %}
                    <table class="table table-sm table-bordered">

                        <thead>
                        <tr>
                            <th scope="col">機種</th>
                            <th scope="col">CPU</th>
                            <th scope="col">本体サイズ</th>
                            <th scope="col">画面</th>
                            <th scope="col">GB</th>
                            <th scope="col">ホームボタン</th>
                            <th scope="col">色</th>
                            <th scope="col">カメラ</th>
                            <th scope="col">発売日</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <th scope="row">{{ device.name }}</th>
                            <td>{{ device.cpu }}</td>
                            <td>{{ device.device_size }}</td>
                            <td>{{ device.display_size }}</td>

                            <td>
                                {% for capacity in device.capacity.all %}
                                    {{ capacity }}
                                {% endfor %}
                            </td>
                            <td>{{ device.home_button }}</td>
                            <td>
                                {% for color in device.color.all %}
                                    {{ color }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for out_camera in device.out_camera.all %}
                                    {{ out_camera }}
                                {% endfor %}
                            </td>
                            <td>{{ device.release_date }}</td>
                        </tr>

                        </tbody>

                    </table>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

